@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  font-family: "Open Sans", system-ui;
  background: rgb(10, 10, 10);
}
.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: black;
}
.category-container,
.voting-container {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #d0a351;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#c9782a 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}